@font-face {
    font-family: '3Dumb';
    src: url('fonts/3dumb.woff2') format('woff2'),
        url('fonts/3dumb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('fonts/SpaceMono-Regular.woff2') format('woff2'),
        url('fonts/SpaceMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('fonts/SpaceMono-BoldItalic.woff2') format('woff2'),
        url('fonts/SpaceMono-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('fonts/SpaceMono-Italic.woff2') format('woff2'),
        url('fonts/SpaceMono-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('fonts/SpaceMono-Bold.woff2') format('woff2'),
        url('fonts/SpaceMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {padding: 3em; font-family: 'Space Mono'; font-size: 18px; width: 50%}
h1 {color: black; font-family: '3Dumb'; font-size: 72px; font-style: normal; font-weight: normal;}
h2 {color: black; font-family: '3Dumb'; font-size: 48px; font-style: normal; font-weight: normal;}
figcaption {font-size:14px; font-style: italic; width: 350px;}

figcaption.double {font-size:14px; font-style: italic; width: 600px;}

@media (max-width: 1000px) {
    body {padding: 3em; font-family: 'Space Mono'; font-size: 18px; width: 80%}
}
